.login-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-btn{
  background: #2D8BBA;
  color: white;
  font-size: 1em;
  width: 220px;
  padding: 10px;  
  border-radius: 10px;
  box-sizing: border-box;


}

.login-page-input-field{
  background: white;
  color: black;
  font-size: 1em;
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;


}

.login-page-logo{
  color: white;
}


.login-container a{
  text-decoration: none;
  color: white;
}

.login-container p{
  color: white;

}





